.search-container{
    margin: 10px 0px;
    text-align: center;
}

input[type=text]{
    width: 120px;
    height: 10px;
    padding: 5px;
    border-color: aliceblue ;
    margin-left: 10px;
    text-align: center;
}